
<div class="container">
  <div class="row">
    <div class="col sm-12">
      <button class="btn btn-primary pull-right">Add</button>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <button class="btn btn-warning">Edit</button>
            <button class="btn btn-danger">Delete</button>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<a routerLink="/logout" class="button">Logout</a>
