<h1>GROCHEERS HOMEPAGE</h1>

<h2> Login to see your List or if you don't have an account go Register</h2>
<div id="buttons">
  <a routerLink="/login" class="button">Login</a>
  <a routerLink="/register" class="button">Register</a>
  <a routerLink="/dashboard" class="button">Dashboard</a>
</div>

<!-- <table>
  <tr>
    <td>List #</td>
    <td>Name</td>
    <td>Username</td>
    <td>Password</td>
  </tr>
  <tr *ngFor="let record of records; let i = index">
    <td>{{i}}</td>
    <td>{{record.name}}</td>
    <td>{{record.username}}</td>
    <td>{{record.password}}</td>
  </tr>
</table> -->

